azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24

@font-face {
  font-family: 'iconitos';
    src:url('./fonts/comoon.eot?9c3mdw');
      src:url('./fonts/icomoon.eot?9c3mdw#iefix') format('embedded-opentype'),
url('./fonts/icomoon.ttf?9c3mdw') format('truetype'),
url('./fonts/icomoon.woff?9c3mdw') format('woff'),
url('./fonts/icomoon.svg?9c3mdw#icomoon') format('svg');
  font-weight: normal;
    font-style: normal;
    }

/*1em =32px*/
/*1rem = 16px*/

a
    color naranja

body
    background #E8E8E8
    color gris_oscuro
    font-family Arial
    font-size 16px

footer
     background naranja
     color rgba(white,0.5)
     padding 1em 0
     text-align center
     width 100%

h3
    fontsize 14px
    font-weight normal

strong
    display block

header
    background gris_oscuro
    /*sombrita del menu*/
    box-shadow 0 5px 0 rgba(0,0,0,0.2) /*mover en x,mover en y,sombra dura difuminacion,transparencia y no olvidar colocar un z index de 1*/
    color white
    /*colocamos overflow para corregir el moche de las imagenes*/
    overflow hidden
    padding 1em
    /*toma como 0 0 al header*/
    position relative
    /*posicionamos la sombra del menu sobre la barra nav para que se aprecie*/
    z-index 1

    .logo
        border-right 1px solid naranja
        margin-right 5px
        width 80px

        img
            width 80px 

    .titular
        margin 0 80px 0 70px  /*arriba abajo derecha izquierda*/

        .filtro
            color naranja     /*color de letra*/
            font-size 14px    /*tamano de letra*/
            font-weight bold  /*negrita*/
            font-style italic /*cursiva*/
            text-decoration none     /*sin subrayado el link*/

        .publicar
            background naranja  /*fondo*/
            color white         /*color de letra*/
            font-style italic   /*cursiva*/
            margin -5px 1.5em 0 0  /*arriba abajo derecha izquierda*/
            padding 0.2em 0.5em  /*arriba lados*/
            text-decoration none /*sin subrayado el link*/
            text-shadow 1px 1px 0px black  /*sombra de texto xuanto se va a mover la sombra en x,en y, difuminacion de la sombra  es dura,color de la sombra*/

            &:before
                 display inline-block
                 font-family "iconitos"
                 content "\e906"
                 margin 0 3px 0 0
        .titulo
            color azul
            font-size 18px
            font-weight normal
            margin 16px 5px 5px 5px  /*arriba abajo derecha izquierda*/
            padding 0

     .usuario
     /*hace referencia al header*/
        position absolute
        right 10px
        top 10px

        .avatar
            margin 0 .5em 0 0 /*arriba abajo derecha izquierda*/
              /*ubicar la posicion relative para que trabaje z-index*/
            position relative
            /*capa amayor numero mas arraba queda*/
            z-index 2

            img
                /*ancho de la imagen avatar*/
                width 60px
                /*redondeamos la imagen del avatar*/
                border-radius 50%
                
        .flechita
             /*color de bondo naranja*/ 
             background naranja
             /*color de texto blanco*/
             color white
             /*convertimos en una caja la clase flechita*/
             display block
             /*agregamos con relleno*/
             padding 3px
             /*colocamos la flecha en position absolute*/
             position absolute
             /*ubicamos la posicion*/
             right 0
             top 21px
             /*texto alineado a la derecha*/
             text-align right
             text-decoration none
             width 50%
             z-index 0

             &:after
                  display inline-block
                  font-family "iconitos"
                  content "\e903"
                  text-shadow 1px 1px 0px black

nav
    background azul
    /*borde blanco del menu*/
    border-left 15px solid white
    /*position relative para ajustar la flecha con el psudoselector*/
    position relative

    /*pseudoelementos separa la interaccion del contenido shadowdoom*/
    /*& al objeto de arriba*/
    &:before
          border-bottom 20px solid transparent /*borde ancho,tipo,color*/
          border-left 37px solid white
          border-top 20px solid transparent
          /*before exige que coloquemos content*/
          content ""
          /*posicion absolute para ajustar la flecha*/
          position absolute
          top 0
          left 0 

          
nav
    height 40px      /*alto por defecto*/
    line-height 40px  /*alto de las lineas de texto*/
    margin 0           /*arriba abajo derecha izquierda*/
    padding 0          /*quitar el relleno por defecto*/
    background azul
    overflow-x auto    /*reseteamos x para que se ajuste automaticamente*/
    white-space nowrap /*que siga derecho las cajas del menu*/

    .menu
    /*todos los objetos crean un margen por defecto y hay que eliminarselo para que el nav se pegue con el header*/
         margin 0
         li
         /*con esto la lista  vertical deja de existir y se coloca uno del lado del otro inline-block en automatico desaparece el puntuto*/
              display inline-block
              

              a
                   /*border 1px solid*/ 
                   /*color del texto*/
                   color white
                   padding 0.2em  /*volver grandes a las etiquetas*/
                   margin 0 0.2em /*separacion arriba lados*/
                   /*sin decoraciones*/
                   text-decoration none

              a:hover
                   color naranja
/*posts es el section*/
.posts
/*le colocamos un relleno bonito*/
     padding 0.5em

     .post
         /*fondo del articulo*/
         background white
         /*borde redondeado esq-sup-der,esq-sup-izq,abajo-media-letra*/
         border-radius 0 0 0.5em 0.5em
         /*color de la letra*/
         color gris_texto
         /*sombra derecha,abajo,difuminacion,color,porcentaje de sombra*/
         box-shadow 2px 2px 10px rgba(black, 0.5)
         margin-bottom 1em

         .acciones
              /* creamos la barrita divisoria azul*/
              border-top 3px solid azul
              padding 0.5em
              overflow hidden

             /* .datos*/
                  /*float right*/

                  .comentarios
                       background gris_texto
                       border-radius 3px
                       color white
                       margin 0 1.5 0 0 
                       padding 2px 5px
                       text-decoration none

                  .estrellita
                       text-decoration none

                       &:after
                            font-family "iconitos"
                            color #E0D561
                            content "\e901"

             .votos
                  /*float left*/

                  .down
                  .up
                       text-decoration none
                  .down
                       color red
                       &:before
                            font-family "iconitos"
                            font-size 1.5em
                            content "\e903"
                            vertical-align bottom

                  .up
                       color green
                       &:before
                            font-family "iconitos"
                            font-size 1.5em
                            content "\e902"
                            vertical-align bottom

         .descripcion
              color gris_texto

              .detalles
              /*alto de la imagen*/
                   height 160px
                   margin-left 130px

                   .autor
                        margin 0.5em 0 2em 0 /*margen arriba abajo izq ere*/

                   .fecha
                        /*float right*/
                        margin  0 1em 0 0
                        

                   .tag
                        background azul
                        border-radius 0.5em 
                        color white
                        padding 0.2em 0.5em
                        text-decoration none

                    .titulo 
                         color gris_oscuro
                         font-size 18px
                         font-style italic
                         /*todos los contenedores de texto tienen un margen que se sale de su contenedor es necesario eliminarlo asi*/
                         margin 0
                         padding 0.5em 0.5em 0 0 /*relleno arriba, derecha,abajo,izquierda*/

              /*.imagen*/
              /*flotamos la imagen a la izquierda para que el texto la rodee*/
                   /*float left*/
                   img
                   /*ajustamos el tamano de la imagen*/
                       height 160px
                       /*ajustamos la imagen arriba como buena practica*/
                       vertical-align top
                       width 120px
.left
    float left

.right
    float right

aside
     background white
     border-radius 0 0 0.5em 0.5em
     box-shadow 2px 2px 10px rgba(black,0.5)
     margin 0.5em
     padding 0em 1.5em 0em 1.5em
     text-align left
     

     .redes_sociales          
          color naranja
          font-size 14px
          font-style italic
          margin 0
          white-space nowrap
     
     .facebook
          text-decoration none
          &:after
               font-family "iconitos"
               color gris_oscuro
               content "\e905"
           
     .twitter
          text-decoration none
          &:after
               font-family "iconitos"
               color gris_oscuro
               content "\e906"
     .google
          text-decoration none
          &:after
               font-family "iconitos"
               color gris_oscuro
               content "\e904"
     .youtube
          text-decoration none
          &:after
               font-family "iconitos"
               color gris_oscuro
               content "\e907"
     .github
          text-decoration none
          &:after
               font-family "iconitos"
               color gris_oscuro
               content "\e908"

aside
     article
          h4
               display inline 
               color naranja
               font-size 14px
               font-style italic
               margin-top 1em
               white-space wrap
     
          .top-articulos
               border solid blue 1px
               text-align left
              
          .articulo
               border solid red 1px
               img
                    display inline
                    
                    
                    
     
.flexcontenedor
     display flex
     flex-direction row
     flex-wrap nowrap
     
     

.item-section-aside-flex     
     display flex
     flex-direction column

.flexsection
     display flex
     /*especificamos la direccion por defecto*/
     flex-direction row
     flex-wrap wrap
    
.item-section
     width 100%
     display flex
     flex-direction column
     order 0
     
 
/*@media screen and (min-width: 768px)*/

/*    .posts */
/*        .post */
/*            display inline-block */
/*            width 48% */
/*            vertical-align top */
/*            &:nth-child(odd) */
/*                margin-right 2% */


/*      header */
/*           .titular  */
/*                .publicar  */
/*                      padding-left 3em  */
/*                     position relative */

/*                     &:before  */
/*                          left 0px   */
/*                           position absolute  */
/*                          font-size 2.5em    */
/*                          top -10px          /*

